<div class="exception-body error">
    <div class="mobile-banner">
        <img src="assets/layout/images/logo-mobile.svg" alt="prestige-layout"/>
    </div>
    <div class="exception-panel">
        <div class="logo">
            <img src="assets/layout/images/petrobras.png" alt="prestige-layout"/>
        </div>
    </div>

    <div class="exception-card">
        <div class="top-border"></div>
        <div class="exception-content">
            <h1>Ocorreu um erro</h1>
            <p>Lamentamos o ocorrido, em breve iremos corrigir o problema.</p>
            <p-button label="Retornar para a home" [routerLink]="['/']"></p-button>
        </div>
    </div>
</div>
